<footer>
    <div class="container">
        {% include '@dcc/includes/footer-components/footer-main-row.html.twig' %}
        {% include '@dcc/includes/footer-components/footer-site-info.html.twig' %}
    </div>
</footer>