<footer>
    {% if includeLogos === true %}
        <div class="container">
            {% include '@dcc/includes/footer-components/footer-logo-banner.html.twig' %}
        </div>
    {% endif %}
    <div class="container">
        {% include '@dcc/includes/footer-components/footer-site-info.html.twig' %}
    </div>
</footer>