<div class="gf_browser_chrome gform_wrapper" id="gform_wrapper_1">
  <form method="post" enctype="multipart/form-data" id="gform_1" action="/" data-drupal-form-fields="">
    <div class="gform_heading">
      <h3 class="gform_title">Disability Claim Help</h3>
      <span class="gform_description"></span>
    </div>
  </form>
</div>
