<div class="bloglist">
  <h2>{{ fields.title.content }}</h2>
  <img class="img-responsive alignleft" src="{{ fields.thumbnail__target_id.content|striptags }}" alt="Post image">
  <p>Article By: Disability Care Center</p>
  <p>{{ fields.body.content }}</p>
</div>
