<div class="page-homepage">
  <header>
    <div id="topheader">
      <div class="container">
        <div class="row">
          <div id="logo" class="col-lg-6 col-md-6 col-sm-12 col-12">
            <a href="/">
              <img class="img-responsive" src="/themes/custom/dcc/images/DCC_logo_2021.png">
              <!--<img class="img-responsive" src="/wp-content/themes/dcc/images/logo.png" />-->
            </a>
          </div>
          <div id="blank" class="col-md-2 col-xs-hidden"></div>
          <div id="topnavs" class="col-md-4 col-12">
            <ul id="uppernav">
              <!--<li><a href="/giving-back/"><img src="/wp-content/themes/dcc/images/givingbackicon.png">Giving Back</a></li>-->
              <li><a href="/about-us/"><img src="/themes/custom/dcc/images/abouticon.png">About Us</a></li>
              <li><a href="/contact-us/"><img src="/themes/custom/dcc/images/contacaticon.png">Contact Us</a></li>
            </ul>
            <button class="btn btn-danger btn-lg" type="button">
              <p>Disability Evaluation<br>
                <img src="/themes/custom/dcc/images/phoneicon.png"><span><a style="color:#FFF;" href="tel:+18887384309" data-ctm-watch-id="1" data-ctm-tracked="1" data-observe="1" data-observer-id="0">(888) 738-4309</a></span></p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <nav>
    <div class="section layout-container clearfix">
      {{ page.navigation }}
    </div>
  </nav>
  <main style="margin-top:-20px;">
    <div class="hidden-xs" id="home-slider">
      <div data-ride="carousel" class="carousel slide" id="carousel">
        <div class="carousel-inner">
          <div class="item active"><img src="/themes/custom/dcc/images/slide1.jpg">
            <div class="carousel-caption-main">
              <div class="container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="carousel-mid">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                      <h1> Helping Disabled Americans Qualify, Apply<br>and Appeal for Social Security Disability</h1>
                    </div>
                    <div class="col-lg-12 col-md-12 hiddden-sm hidden-xs">
                      <h3><em>We provide free resources &amp; information about SSD to assist<br>individuals become
                          approved for benefits</em></h3>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                      <a role="button" class="btn btn-danger btn-lg" href="/social-security-disability/apply/">Get
                        Disability Help</a>
                    </div>
                  </div>
                  <!--/carousel-middle-->
                  <!--<div class="carousel-btm"></div>--><!--/carousel-btm-->
                </div>
              </div>
            </div>
            <!--/carousel-caption-main-->
          </div>

        </div>
        <!--/carousel-inner-->
      </div>
      <!--/carousel-->
    </div>
    <div id="blue">
      <!--BLUE-->
      <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>Become Approved For Social Security Disability Benefits</h2>
        </div>
      </div>
      <!--BLUE-->
    </div>
    <div class="container">
      <div id="homemaincopy" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <p>The Disability Care Center’s Advocates assist Americans in receiving Social Security Disability benefits by
          analyzing their claim, then assisting in the completion of a comprehensive application for disability benefits.
          Along with our experienced appeal knowledge we ensure disabled Americans receive the disability benefits they
          deserve.</p>

        <div class="row">
          <div class="threemain col-lg-4 col-md-4 col-sm-4 col-xs-12"><img class="img-responsive"
                                                                           src="https://www.disabilitycarecenter.org/wp-content/uploads/2015/05/qualify.png">
            <h3> Disability Qualifications</h3>
            <p>If you are suffering from a physical or mental condition that is disabling and are uncertain whether you
              qualify for Social Security Disability, our Disability Advocates can quickly assess your eligibility. A
              brief disability evaluation of your claim can quickly determine your eligibility. </p>
            <p class="centerbutton"><a role="button" class="btn btn-default btn-lg"
                                       href="/social-security-disability/qualify">Qualify For Disability</a></p></div>
          <div class="threemain col-lg-4 col-md-4 col-sm-4 col-xs-12"><img class="img-responsive"
                                                                           src="https://www.disabilitycarecenter.org/wp-content/uploads/2015/05/apply.png">
            <h3> Application Assistance</h3>
            <p>Most first-time disability applicants are denied benefits due to technical errors made in the application,
              but at the Disability Care Center we guide applicants from start to finish ensuring a proper application is
              completed. Apply today and receive benefits as soon as possible.</p>
            <p class="centerbutton"><a role="button" class="btn btn-default btn-lg"
                                       href="/social-security-disability/apply">Apply For Disability</a></p></div>
          <div class="threemain col-lg-4 col-md-4 col-sm-4 col-xs-12"><img class="img-responsive"
                                                                           src="https://www.disabilitycarecenter.org/wp-content/uploads/2015/05/appeal.png">
            <h3> Appeal Disability Denial</h3>
            <p>If you applied for Social Security Disability benefits and were denied, we can help. The disability appeals
              process is a difficult and crucial step for most applicants. Our organization has successfully helped
              thousands of disabled Americans appeal and receive disability benefits.</p>
            <p class="centerbutton"><a role="button" class="btn btn-default btn-lg"
                                       href="/social-security-disability/appeal-denial">File an Appeal</a></p></div>
        </div>
      </div>
    </div>
    <div id="lightblue">
      <div class="container">
        <h2 style="text-align:center; padding-top:30px !important;">Start The Disability Process Today</h2>
        <div class="row">
          <div class="col-sm-5 col-12">


            <p></p>
            <p>The Disability Care Center’s team of Disability Advocates are available to answer any questions an
              applicant may have while trying to qualify or apply for disability benefits. Issues while undergoing an
              appeal for disability benefits can also be solved. </p>
            <p>We answer claimant's concerns regarding their disability application or eligibility with an initial
              evaluation of their current claim by a experienced Advocate. Any errors made in the application will be
              resolved and a conclusion of eligibility for disability will be determined, assigning them to the SSI or
              SSDI benefit program.</p>
            <p>This initial disability evaluation is free and will help our team gather the information needed about your
              disabilities. Once qualified, an application for disability can be started right away. If an application has
              already filed for benefits we can take over and manage the claim, ensuring all paperwork has been submitted
              and documented properly.</p>
            <p></p></div>

          <div id="arrowcolumn" class="col-sm-2 hidden-xs">
            <!--img class="img-responsive" src="/wp-content/themes/dcc/images/arrow.png"-->

          </div>

          <div class="col-sm-5 col-12">
            <div class="webform-wrapper">
              <div class="form_heading">
                <h3 class="form_title">Disability Claim Help</h3>
                <span class="form_description"></span>
              </div>
              {{ drupal_entity('webform', 'disability_claim_help') }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="blue-grey">
      <!--BLUE GREY-->
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <h2>Recent Social Security Disability News</h2>
          </div>
        </div>
      </div>
      <!--BLUE GREY-->
    </div>
    <div id="grey">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row">

              <div class="threenews col-lg-4 col-md-4 col-sm-4 col-12"><a
                  href="https://www.disabilitycarecenter.org/disabled-individuals-family-members-may-qualify-for-ssdi-benefits/"><img
                    class="img-responsive" src="https://www.disabilitycarecenter.org/wp-content/uploads/newsimage.jpg"></a>
                <h6>Disabled Individuals’ Family Members May Qualify for SSDI Benefits</h6>
                <p>It is well understood that an individual who suffers from a disability that prevents him or her from
                  working may be eligible for... <a
                    href="https://www.disabilitycarecenter.org/disabled-individuals-family-members-may-qualify-for-ssdi-benefits/">more</a>
                </p></div>
              <div class="threenews col-lg-4 col-md-4 col-sm-4 col-xs-12"><a
                  href="https://www.disabilitycarecenter.org/how-to-determine-eligibility-for-social-security-disability/"><img
                    class="img-responsive" src="https://www.disabilitycarecenter.org/wp-content/uploads/news2.jpg"></a><h6>
                  How to Determine Eligibility for Social Security Disability</h6>
                <p>The Social Security Administration has established many requirements to determine a person’s eligibility
                  for social security... <a
                    href="https://www.disabilitycarecenter.org/how-to-determine-eligibility-for-social-security-disability/">more</a>
                </p></div>
              <div class="threenews col-lg-4 col-md-4 col-sm-4 col-xs-12"><a
                  href="https://www.disabilitycarecenter.org/benefits-of-hiring-a-social-security-disability-attorney/"><img
                    class="img-responsive" src="https://www.disabilitycarecenter.org/wp-content/uploads/news3.jpg"></a><h6>
                  Benefits of Hiring a Social Security Disability Attorney</h6>
                <p>If you’re thinking about making claim for social security disability benefits, it’s best to move forward
                  with the assistance... <a
                    href="https://www.disabilitycarecenter.org/benefits-of-hiring-a-social-security-disability-attorney/">more</a>
                </p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--NEW GIVING SECTION-->
    <!-- <div id="homegive"> -->
    <!--   <div class="container"> -->
    <!-- <div class="col-sm-4 col-xs-12"><img class="img-responsive" src="wp-content/themes/dcc/images/homepagewomaninchair.png"></div> -->
    <!-- <div class="col-sm-8 col-xs-12"> -->
    <!-- <h2>Disability Care Center Giving Back</h2> -->
    <!-- <p>The Disability Care Center prides themselves on their efforts to help support the disabled community.  -->
    <!-- We support foundations such as NAMI, American Legion, VFW, American Cancer Society, The Arc and many more.  -->
    <!-- We also hold an annual Scholarship Competition for young adults and their families who are suffering from a debilitating condition or illness.<br /></p> -->
    <!-- <p class="homegivebutton"><a href="/giving-back/" class="btn btn-danger btn-lg" role="button">Giving Back</a></p> -->
    <!-- </div>    -->
    <!-- </div> -->
    <!-- </div>         -->
    <!--END GIVING SECTION-->

  </main>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
          <p><strong>Main Navigation</strong></p>
          <ul id="menu-main" class="menu">
            <li id="menu-item-25"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-25"><a
                href="https://www.disabilitycarecenter.org/social-security-disability/">Social Security Disability
                Qualifications</a></li>
            <li id="menu-item-23"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-23"><a
                href="https://www.disabilitycarecenter.org/medical-qualifications/">Medical Qualifications</a></li>
            <li id="menu-item-1540"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1540"><a
                href="https://www.disabilitycarecenter.org/veterans/">Veterans Disability</a></li>
            <li id="menu-item-21"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-21"><a
                href="https://www.disabilitycarecenter.org/disability-resources/">Disability Resources</a></li>
            <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a
                href="https://www.disabilitycarecenter.org/blog/">Blog</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
          <p><strong>Who We Are</strong></p>
          <ul id="menu-who-we-are" class="menu">
            <li id="menu-item-149" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-149"><a
                href="https://www.disabilitycarecenter.org/about-us/">About Us</a></li>
            <li id="menu-item-156" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-156"><a
                href="https://www.disabilitycarecenter.org/terms-conditions/">Terms &amp; Conditions</a></li>
            <li id="menu-item-157" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-157"><a
                href="https://www.disabilitycarecenter.org/privacy-policy/">Privacy Policy</a></li>
          </ul>
        </div>
        <!--<div class="col-lg-4 col-md-4 hidden-sm hidden-xs" >


        </div>-->
        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
          <p><strong>Connect With Us</strong></p>
          <ul id="menu-social" class="menu">
            <li id="menu-item-158" class="fblink menu-item menu-item-type-custom menu-item-object-custom menu-item-158"><a
                href="https://www.facebook.com/pages/Disability-Care-Center/759469717482319?fref=ts">Like Us On
                Facebook</a></li>
            <li id="menu-item-159"
                class="twitterlink menu-item menu-item-type-custom menu-item-object-custom menu-item-159"><a
                href="https://twitter.com/disability_care">Follow Us On Twitter</a></li>
            <li id="menu-item-160"
                class="contactlink menu-item menu-item-type-post_type menu-item-object-page menu-item-160"><a
                href="https://www.disabilitycarecenter.org/contact-us/">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <p style="text-align:center; font-size:11px; padding-bottom:10px;">
            ©{{ 'now' | date('Y') }}. All Rights Reserved.<br>
            20 North Orange Ave, Suite 1600, Orlando, FL 32801<br><br>
            This site is designed to be accessible to and usable by people with and without disabilities.<br>
            Please <a style="font-size: 11px; color:#4C9AC1 !important; text-decoration:underline;" href="/contact-us">contact
              us</a> if you encounter an accessibility or usability issue on this site.
          </p>
        </div>
      </div>
    </div>
  </footer>

</div>
