.path-ssi-thank-you {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background: #ECF0F1 !important;
  width: 100%;

  header {
    display: block;
    #topheader {
      background: url(/themes/custom/dcc/images/ss/topBG.png) top left no-repeat;
      background-size: cover;
      width: 100%;
      display: block;
      #logo {
        padding: 20px 0 20px 0;
        img {
          display: block;
          max-width: 100%;
          height: auto;
        }
      }
      #topnavs {
        #abovephone {
          margin-top: 20px;
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 0px;
        }
        #belowphone {
          font-size: 18px;
          font-weight: 700;
          margin-top: -5px;
          color: #FFF;
          text-align: center;
        }
        #abovephone, #belowphone {
          color: #FFF;
          text-align: center;
        }
      }
    }
    .btn-danger {
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      width: 100%;
      padding: 10px 0 5px 0;
      margin: 10px 0;
      border: 1px solid #fff;
      border-radius: 1px;
      p {
        margin: 0 0 10px;
      }
      &:hover {
        border-color: #ac2925;
      }
    }
  }

  main {
    font-size: 18px;
    display: block;
    #maincopy {
      font-weight: 400;
      color: #333;

      #pictureandform {
        @media (min-width: 769px) {
          background-image: url("/themes/custom/dcc/images/ss/capitol-buildingTEST4.jpg");
          background-repeat: no-repeat;
          background-position:-50px 15px;
        }
        .ssi-webform-wrapper {
          //padding: 10px 20px;
          margin: 10px -10px 0 -10px;
          //background: #1A384E;
          background: #3A5D7B;

          //.form_heading {
          //  width: 98%;
          //  margin-bottom: 1.125em;

          //.form-title {
          //  letter-spacing: normal !important;
          //  margin: .625em 0 .375em;
          //  font-weight: 700;
          //  text-align: center;
          //  font-size: 27px !important;
          //  color: #FFF !important;
          //}
          //}
          form {
            .form-title {
              background: #1A384E;
              letter-spacing: normal !important;
              //margin: .625em 0 .375em;
              //font-weight: 700 !important;
              text-align: center;
              //font-size: 27px !important;
              color: #FFF !important;
              padding: 17px 5px;
              h3 {
                font-weight: 700 !important;
                //text-align: center;
                font-size: 27px !important;
                margin-bottom: 0;
              }
            }
            .form-main-wrapper {
              display: block;
              padding: 5px 30px 10px 30px;
              margin: 0;
              hr {
                margin-top: 20px;
                margin-bottom: 20px;
                border: 0;
                border-top: 1px solid #eee;
              }
              label {
                display: none;
                color: #FFF;
                font-size: 14px;
              }
              input {
                margin-top: 20px;
                &[type="radio"] {
                  margin-top: unset;
                }
              }
              select {
                margin-top: 20px;
              }
              input,
              select,
              textarea {
                border-radius: 3px;
                min-height: 40px;
                font-size: 14px;
              }
              textarea {
                height: 100px !important;
              }
              fieldset {
                legend {
                  border-bottom: none;
                  color: #FFF;
                  font-size: 14px;
                }
                .fieldset-wrapper {
                  .form-radios {
                    display: flex;
                    .form-type-radio {
                      display: flex;
                      align-items: center;
                      width: 30%;
                      label {
                        display: inline;
                        font-size: 12px;
                        margin-left: 4px;
                        font-weight: 700;
                      }
                    }
                  }
                }
              }
              .form-actions {
                input {
                  margin-top: 0;
                  display: inline-block;
                  -webkit-appearance: button;
                  cursor: pointer;
                  background: linear-gradient(to bottom, #D9534F 0px, #C12E2A 100%);
                  text-transform: uppercase;
                  color: #FFF !important;
                  border-radius: 3px;
                  border: none;
                  width: 100%;
                  padding: 10px;
                  font-size: 18px !important;
                  font-weight: 600;
                }
              }
            }
          }
        }
      }

      h1 {
        color: #1A384E !important;
        font-size: 31px !important;
        font-weight: 700 !important;
        text-align: center;
        padding-top: 20px;
        margin-bottom: 25px !important;
      }
    }
    #homemaincopy {
      background: url(/themes/custom/dcc/images/ss/b-grid.jpg) repeat #193045 !important;
      font-size: 21px;
      padding: 30px 0;
      text-align: center;
      color: #FFF !important;
      margin: 40px 0 0;
    }
    #homemaincopy {
      background: url(/themes/custom/dcc/images/ss/b-grid.jpg) repeat #193045 !important;
      font-size: 21px;
      padding: 30px 0;
      text-align: center;
      color: #FFF !important;
      margin: 40px 0 0;
      h2 {
        color: #FFF !important;
        font-size: 26px !important;
        font-weight: 700 !important;
        margin-top: 17px !important;
        margin-bottom: 10px;
      }
      .threemain {
        font-size: 18px;
        margin-bottom: 20px;
        color: #FFF !important;
        img {
          text-align: center;
          margin: 0 auto;
          padding-top: 20px;
          display: block;
          max-width: 100%;
          height: auto;
        }
        h3 {
          font-size: 21px !important;
          color: #FFF !important;
          font-weight: 600 !important;
          text-align: center !important;
          margin: 30px 0;
        }
        p {
          text-align: left;
        }
      }
    }
    #homelowermainwrap {
      background: url(/themes/custom/dcc/images/ss/homelowermaincopy.jpg) center right no-repeat;
      background-size: contain;
      #homelowermaincopy {
        padding: 40px 0;
        h2 {
          color: #1A384E !important;
          font-size: 26px !important;
          font-weight: 700 !important;
          margin-top: 17px !important;
        }
      }
      @media (max-width: 1200px) {
        background-size: cover;
      }
      @media (max-width: 992px) {
        background: url(/themes/custom/dcc/images/ss/homelowermaincopy2.jpg) center right no-repeat;
        background-size: cover;
      }
    }
  }

  footer {
    background: #1A384E;
    margin-top: 0px;
    padding-top: 40px;
    #logobanner {
      background: #FFF;
      width: 100%;
      padding: 20px;
      text-align: center !important;
      img {
        max-width: 100%;
        text-align: center !important;
        margin: 0 auto;
      }
    }
    padding-bottom: 20px;
    background: #1A384E;
    p {
      padding-top: 30px;
      text-indent: 0px;
      margin-bottom: 0;
      color: #FFF !important;
      font-weight: 200 !important;
    }
    a, p {
      color: #FFF !important;
      font-weight: 400 !important;
      font-size: 11px;
    }
  }
}
.path-ss-thank-you {
    background: url(/themes/custom/dcc/images/ss/homeBG.png) top left no-repeat #E4E4E4;
    background-size: cover;
    width: 100%;

    header {
      display: block;
      #topheader {
        background: url(/themes/custom/dcc/images/ss/topBG.png) top left no-repeat;
        background-size: cover;
        width: 100%;
        display: block;
        #logo {
          padding: 20px 0 20px 0;
          img {
            display: block;
            max-width: 100%;
            height: auto;
          }
        }
        #topnavs {
          #abovephone {
            margin-top: 20px;
            font-size: 19px;
            margin-bottom: 0px;
          }
          #belowphone {
            color: #FFF;
            text-align: center;
            font-size: 20px;
            margin-top: -5px;
          }
          #abovephone, #belowphone {
            color: #FFF;
            text-align: center;
          }
        }
      }
      .btn-danger {
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        width: 100%;
        padding: 10px 0 5px 0;
        margin: 10px 0;
        border: 1px solid #fff;
        background: #BE3A3A !important;
        border-radius: 6px;
        font-size: 18px;
        line-height: 1.3333333;
        p {
          margin: 0 0 10px;
        }
        &:hover {
          border-color: #ac2925;
        }
      }
    }

    main {
      font-size: 18px;
      #maincopy {
        font-weight: 400;
        color: #235570;
        .ss-webform-wrapper {
          margin: 16px 0;
          max-width: 100%;
          padding: 10px 40px 40px 40px;
          background: linear-gradient(to bottom, #1a384e 0%,#102434 100%);
          form {
            .form-head {
              h1 {
                color: #FFF !important;
                margin: 20px 0 0 0 !important;
                padding: 0;
                text-align: center;
                box-sizing: border-box;
                overflow: visible;
                img {
                  max-width: 100%;
                }
              }
              h2 {
                font-size: 23px !important;
                margin-top: 10px !important;
                padding-top: 0px !important;
                text-align: center;
                color: #FFF !important;
                margin-bottom: 10px;
                font-weight: 700;
              }
              #formsub {
                font-size: 18px !important;
                font-weight: 400;
                font-style: italic;
                margin-top: 20px;
                text-align: center;
                color: #FFF !important;
              }
            }
            p {
              font-weight: 400;
              font-style: italic;
              margin-top: 20px;
            }
            .bluelabels {
              text-align: left;
              font-size: 21px !important;
              color: #5FA5C7;
            }
            .form-type-textfield, .form-type-email, .form-type-tel {
              label {
                display: flex;
                font-weight: 700;
                font-size: 14px;
                color: #FFF !important;
              }
            }
            label {
              display: none;
            }
            textarea {
              height: 160px !important;
              width: 100%;
              line-height: 1.5;
              resize: none;
            }
            hr {
              margin-top: 20px;
              margin-bottom: 20px;
              border: 0;
              border-top: 1px solid #445968 !important;

            }
            input {
              min-height: 46px;
            }
            input,
            select,
            textarea {
              color: #1D4B64 !important;
              border-radius: 3px;
              border: solid 1px #455969;
              padding: 2px !important;
              background-clip: content-box;
              background-color: #FFF;
            }
            textarea {
              height: 80px;
              color: #1D4B64 !important;
              border-radius: 3px;
              border: solid 1px #455969;
              background-clip: content-box;
              background-color: #FFF;
              padding: 2px !important;
              text-indent: 10px;
              font-size: 14px;
            }
            fieldset {
              legend {
                border-bottom: none;
              }
              .fieldset-wrapper {
                .form-radios {
                  display: flex;
                  .form-type-radio {
                    width: 50%;
                    label {
                      display: inline;
                    }
                  }
                }
              }
            }
            .questions-section {
              display: flex;
              flex-wrap: wrap;
              fieldset {
                width: 50%;
                display: inline-block;
                flex: 0 0 50%;
                max-width: 50%;

                @media (max-width: 640px) {
                  flex: 0 0 100%;
                  max-width: 100%;
                  .form-radios {
                    display: block;
                    .form-type-radio {
                      input {
                        min-height: 25px;
                      }
                    }
                  }

                }
                legend {
                  font-weight: 700;
                  font-size: 14px;
                  color: #FFFFFF;
                }
                .form-item {
                  display: flex;
                  align-items: center;
                  width: 30% !important;
                  label {
                    margin: 0 0 0 4px;
                    font-weight: 700;
                    line-height: 1.5;
                    font-size: 11px;
                    color: #FFFFFF;
                  }
                }
              }
            }
            .form-actions {
              input {
                white-space: initial;
                text-transform: uppercase;
                border: solid 1px #BE3A3A !important;
                width: 50% !important;
                text-align: center !important;
                border-radius: 3px !important;
                display: block;
                -webkit-appearance: button;
                cursor: pointer;
                background: #BE3A3A !important;
                color: #FFF !important;
                margin: 0 auto;
                padding: 10px;
                font-size: 21px !important;
                font-weight: 600;
                @media (max-width: 640px) {
                  width: 100% !important;
                }
              }
            }
          }
        }
        hr {
          margin-top: 20px;
          margin-bottom: 20px;
          border: 0;
          border-top: 1px solid #eee;
        }
        h1 {
          color: #1A384E !important;
          font-size: 31px !important;
          font-weight: 700 !important;
          text-align: center;
          padding-top: 20px;
          margin-bottom: 30px !important;
        }
      }
      #homemaincopy {
        font-size: 21px;
        padding-top: 30px;
        text-align: center;
        .threemain {
          font-size: 16px;
          margin-bottom: 20px;
          img {
            text-align: center;
            margin: 0 auto;
            padding-top: 20px;
          }
          h3 {
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 21px !important;
            color: #1A384E !important;
            font-weight: 600 !important;
            text-align: center !important;
          }
          p {
            text-align: left;
          }
        }
      }
      #logobanner {
        background: #FFF;
        width: 100%;
        padding: 20px;
        text-align: center !important;
        margin-top: 40px;
        img {
          max-width: 100%;
          text-align: center !important;
          margin: 0 auto;
        }
      }
    }

    footer {
      padding-top: 0;
      padding-bottom: 20px;
      background: #1A384E;
      margin-top: 50px;
      p {
        padding-top: 30px;
        text-indent: 0px;
        //padding-top: 40px;
        margin-bottom: 0;
        color: #FFF !important;
        font-weight: 200 !important;
      }
      a, p {
        color: #FFF !important;
        font-weight: 400 !important;
        font-size: 11px;
      }
    }

}
