<div id="footer-site-info" class="col-lg-12 col-md-12 col-sm-12 col-12">
    <p style="text-align:center;font-size: 11px;color:#ffffff !important;">
        © Copyright {{ 'now' | date('Y') }} DisabilityCareCenter.org | All Rights Reserved
        <br>20 North Orange Ave, Suite 1600, Orlando, FL 32801
        <br><br>This site is designed to be accessible to and usable by people with and without
        disabilities.
        <br>Please <a style="font-size: 11px;color:#ffffff;" href="/contact-us/">contact us</a> if you encounter an accessibility or usability
        issue on
        this site.
        <br><br>
        <a style="font-size: 11px;color:#ffffff;" href="/privacy-policy/">Privacy Policy</a> | <a style="font-size: 11px;color:#ffffff;" href="/terms-conditions/">Terms &amp; Conditions</a>
        <button style="border:none;background:none;padding:0;margin:0;color:#ffffff;font-size:11px;" id="ot-sdk-btn" class="ot-sdk-show-settings"></button>
    </p>
</div>
